tr:nth-child(even) {
  background-color: rgb(196, 170, 219);
}

tr:nth-child(odd) {
  background-color: rgb(142, 224, 224);
}

table {
  text-align: center;
  border-collapse: collapse;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

td, th {
  padding: 8px;
}